@import '../../../shared/styles/utils/mixins';
@import '../../../shared/styles/utils/vars';

.contactsList {
    @include mq(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.singleCard {
    height: 370px;
    width: 280px;
    text-align: left;
    background-color: $color-white;
    -webkit-box-shadow: 2px 0px 10px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 0px 10px 4px rgba(0,0,0,0.1);
    box-shadow: 2px 0px 10px 4px rgba(0,0,0,0.1);

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.image {
    height: 244px;
    margin-bottom: 20px;
}

.textContent {
    width: 240px;
    margin: 0 auto;
}

.name {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12em;
    color: $color-black;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.position {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $color-text;
    margin-bottom: 10px;
}

.about {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-black;
}