
@import '../../../../shared/styles/utils/mixins';
@import '../../../../shared/styles/utils/vars';


.NavElem {
  padding: 28px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e2e3e5;

  @include mq(tablet) {
    padding: 0;
    border-bottom: none;
    margin-right: 60px;

    &:last-child {
      margin-right: 40px;
    }
  }

  @include mq(desktop) {
    margin-right: 80px;

    &:last-child {
      margin-right: 80px;
    }
  }
}

.menu {
  text-decoration: none;
  color: $color-black;

  // &:hover,
  // &:focus {
  //   border-bottom: 1px solid $color-focus;
}

// }

.isActive {
  text-decoration: none;
  color: $color-black;
  border-bottom: 1px solid $color-focus;
}