@import "../../shared/styles/utils/vars";
@import "../../shared/styles/utils/mixins";

.main {
  padding-top: 28px;
  padding-bottom: 20px;
  @include mq(tablet) {
    padding-top: 40px;
    padding-bottom: 273px;
  }
  @include mq(desktop) {
    padding: 40px 230px 107px;
  }
}

.headerWrapper {
  @include flex(space-between, center);
  padding-bottom: 24px;
}

.header {
  max-width: 100px;
  @include fonts(14px, 16px);

  @include mq(tablet) {
    max-width: 160px;
    @include fonts(22px, 27px);
  }
}

.btn {
  padding: 18px 38px;
  border: none;
  @include fonts(10px, 12px);
  color: $color-white;
  background-color: $color-focus;

  @include mq(tablet) {
    padding: 16px 51px;
    @include fonts(14px, 17px);
  }
}

.btnWrapperOne {
  @include flex(flex-end);
}

.btnWrapperBoth {
  @include flex(space-between);
}

.prev {
  @include flex();
  @include fonts(12px, 14px);
  color: $color-white;
  padding: 5px 16px 5px 15px;
  border: none;
  background-color: $color-focus;

  @include mq(tablet) {
    padding-right: 43px;
  }
}

.left {
  @include flex();
  fill: $color-white;
  @include mq(tablet) {
    margin-right: 12px;
  }
}

.right {
  @include flex();
  @include mq(tablet) {
    margin-left: 55px;
  }
}

.next {
  @extend .prev;
  color: $color-black;
  background-color: $color-white;

  @include mq(tablet) {
    padding: 5px 20px;
  }
}

.result {
  @extend .prev;
  padding: 10px 20px;
}

.error {
  @include fonts(20px);
  text-align: center;

  @include mq(tablet) {
    @include fonts(30px);
    padding-bottom: 3%;
  }
}
