@import '../../styles/utils/mixins';

.rechart {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.title {
    color: #00122F;
    @include fonts($fs: normal, $fw: 500, $fsz: 16px, $lh: 36px, $ls: 0.02em);
    margin-top: 40px;
}

.line {
    width: 321.5px;
    height: 0px;
    left: 479px;
    top: 197px;
    opacity: 0.15;
    border: 1px solid #00122F;
}

.line2 {
    opacity: 0.15;
}

.test_th {
    @include fonts($fs: normal, $fw: 500, $fsz: 16px, $lh: 36px, $ls: 0.02em);
}

.result {
    display: flex;
    gap: 30px;
    @include fonts($fs: normal, $fw: 500, $fsz: 16px, $lh: 36px, $ls: 0.02em);
}

.text {
    @include fonts($fs: normal, $fw: 500, $fsz: 16px, $lh: 36px, $ls: 0.02em);
}

