@import '../../styles/utils/mixins';


.title {
    margin-bottom: 8px;
    color: black;
    @include fonts($fs: normal, $fw: 800, $fsz: 20px, $lh: 24px, $ls: 0.02em);

    @include mq(tablet) {
        @include fonts($fs: normal,
            $fw: 800,
            $fsz: 30px,
            $lh: 37px,
            $ls: 0.02em);

    }

    @include mq(desktop) {
        @include fonts($fs: normal,
            $fw: 800,
            $fsz: 34px,
            $lh: 41px,
            $ls: 0.02em);
    }

}

.signup {
    margin-top: 15px;
}

.materials {
    @include mq(mobile-only) {
        width: 129px;
    }

    @include fonts($fs: normal, $fw: 700, $fsz: 22px, $lh: 30px, $ls: 0.02em);

}

.team {
    color: #000000;
    text-align: center;

    @include mq(mobile-only) {
        @include fonts($fs: normal, $fw: 700, $fsz: 18px, $lh: 22px, $ls: 0.02em);
        width: 280;

    }

    @include mq(tablet) {
        @include fonts($fs: normal, $fw: 700, $fsz: 22px, $lh: 27px, $ls: 0.02em);
    }

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 130px;

        @include mq(tablet) {
            width: 320px;
            margin-bottom: 40px;
        }

        @include mq(tablet) {
            width: 320px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        height: 0px;

        opacity: 0.15;
        border: 1px solid #00122F;
    }
}