@import '../../../shared/styles/utils/mixins';

.form {
    width: 240px;
    margin-top: 20px;

    @include mq(tablet) {
        width: 501px;
        margin-top: 32px;
    }
}

.wrapper-btn {
    display: flex;
}