@import '../../../shared/styles/utils/vars';
@import '../../../shared/styles/utils/mixins';


.wrapper {
    display: flex;
    align-items: center;

    width: 240px;
    padding: 10px 20px;

    @include mq(tablet) {
        width: 425px;
    }

    @include mq(mobile-only) {
        margin-top: -10px;
    }

    margin-bottom: 10px;

    box-shadow: 0 3px 6px -4px #0000001f,
    0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
    border-radius: 2px;

    &.error {
        outline: 3px solid #eb2f06;
    }

    &.success {
        outline: 3px solid #2ecc71;
    }

}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: start;

    padding: 0 10px;
}

.icon {
    width: 20px;
    height: 20px;

    fill: white;
}

.div-text {
    @include fonts();
    font-size: 14px;
}