@import "../../shared/styles/utils/mixins";
@import "../../shared/styles/utils/vars";

.wrapper {
  background-color: white;
  padding: 40px 20px;

  @include mq(tablet) {
    margin: 0 auto;
    width: 501px;
    padding: 60px 32px;
  }
}

.wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.link {
  display: block;

  width: 110px;

  padding: 25px;
  margin-top: 20px;

  @include fonts($fs: normal, $fw: 700, $fsz: 10px, $lh: 12px, $ls: 0.02em);

  text-transform: uppercase;
  text-decoration: none;

  color: black;

  @include mq(tablet) {
    min-width: 210px;

    @include fonts($fs: normal, $fw: 700, $fsz: 12px, $lh: 15px, $ls: 0.02em);
  }

  border: 1px solid $color-focus;
  background-color: $color-focus;

  color: white;
}
