// colors //

$color-body: #f5f6fb;
$color-text: #555;
$background: #e5e5e5;
$color-focus: #ff6b09;
$color-input: #ced2d1;
$color-placeholder: #bbb;
$color-btn-grey: #fafafa;
$color-white: #fff;
$color-black: #000;

// fonts //
$mainFont: "Montserrat";
