@import "../../styles/utils/mixins";
@import "../../styles/utils/vars";

.button {
  display: block;
  font-family: inherit;

  border-color: transparent;
  background-color: transparent;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
}

.text {
  min-width: 110px;
  min-height: 60px;
  padding: 25px;

  @include fonts($fs: normal, $fw: 700, $fsz: 10px, $lh: 12px, $ls: 0.02em);
  text-transform: uppercase;
  text-align: center;

  color: black;

  @include mq(tablet) {
    min-width: 210px;

    @include fonts($fs: normal, $fw: 700, $fsz: 12px, $lh: 15px, $ls: 0.02em);
  }
}

.base {
  border: 1px solid $color-input;
  background-color: white;
}

.disabled {
  composes: base;
  border: 1px solid $color-input;
  color: $color-input;
}

.focus {
  border: 1px solid $color-focus;
  background-color: $color-focus;

  color: white;
}

.auth {
  @include mq(tablet) {
    min-width: 203px;
  }
}

.mainBtn {
  width: 280px;
  height: 212px;
  padding: 0;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;

  @include mq(tablet) {
    width: 400px;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.06em;
  }
}

.firstBtn {
  background-color: $color-btn-darkblue;
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.secondBtn {
  padding: 0 50px;
  background-color: $color-focus;

  @include mq(tablet) {
    padding: 0 100px;
  }
}

.top {
  width: 190px;
  height: 48px;

  @include mq(mobile) {
    margin-top: 40px;
  }
}

.icon {
  background-color: transparent;
  border-color: transparent;
  @include flex();

  width: 30px;
  height: 30px;

  animation: rotate-scale-up $cubic $timeDelay;

  @include mq(tablet) {
    width: 36px;
    height: 36px;
  }

  &-delete,
  &-add {
    padding: 0;
    width: 24px;
    height: 24px;

    @include mq(tablet) {
      width: 34px;
      height: 34px;
    }

    fill: $color-focus;
    transition: $timeDelay $cubic $timeDelay;


    &:hover,
    &:focus {
      fill: black;
      transform: fill;

      animation: rotate-scale-up 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;

    }
  }
}


.add {
  @include flex();
  padding: 3px;

  background-color: $color-focus;
  border-radius: 50%;

  transition: $timeDelay $cubic $timeDelay;

  &:hover,
  &:focus {
    background-color: white;
    transform: background-color;
  }

}

.icon-add {
  fill: white;
  transition: $timeDelay $cubic $timeDelay;

  &:hover,
  &:focus {
    fill: $color-text;
    transform: fill;
    animation: rotate-90-cw 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
  }
}


//animation //

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

// add animation
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}