@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.input {
    cursor: pointer;

    @include mq(mobile-only) {
        width: inherit;
    }

    @include mq(tablet) {
        width: 425px;
    }

}

input:invalid:not(:placeholder-shown) {
    border-color: red;
    margin-bottom: 5px;

    &+.invalid__message--wrapper {
        margin-top: 1px;
        margin-bottom: 5px;
        padding: 2px 5px;
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.268);
        color: white;
        font-size: 11px;
        font-weight: 700;
    }
}



.wrapper {
    @include mq(mobile-only) {
        width: inherit;
    }

}

.radio-wrapper {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-right: 28px;
    }
}

.label-radio {
    @include fonts($fs: normal, $fw: 500, $fsz: 14px, $lh: 17px, $ls: 0.04em);
    margin-left: 6px;
}

.input-text {
    font-family: inherit;
    @include fonts($fs: normal, $fw: 500, $fsz: 14px, $lh: 17px, $ls: 0.02em);

    border: 1px solid $color-input;
    padding: 20px 40px;

    color: $color-placeholder;

    margin-bottom: 20px;

    &::placeholder {
        color: $color-placeholder;
    }

    &:focus,
    &:active,
    &:focus-within,
    &:focus-visible,
    &:visited,
    &:hover,
    &:target {
        background-color: transparent;
        outline: none;
    }


}

.input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid $color-input;
    border-radius: 50%;

    &:checked {
        padding: 5px;
        background-color: $color-focus;

        &+label {
            color: $color-focus;
            font-weight: 700;
        }
    }
}


// Перекривання вшитих настройок від хрому //

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    // border: 0;

    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    // background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
    color: $color-placeholder;
    -webkit-text-fill-color: $color-placeholder;
}