@import "../../../shared/styles/utils/mixins";
@import "../../../shared/styles/utils/vars";

.NavAll {
  font-family: $mainFont;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  //   line-height: line-height(16px, 14px);

  @include mq(tablet) {
    font-size: 12px;
    font-weight: 500;
    // line-height: line-height(16px, 12px);
  }

  @include mq(tablet) {
    font-size: 14px;
    // line-height: line-height(16px, 14px);
  }
}

.Nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
