@import "../../../../shared/styles/utils/mixins";
@import "../../../../shared/styles/utils/vars";

.NavElem {
  padding: 28px 0;
  border-bottom: 1px solid #e2e3e5;

  @include mq(tablet) {
    padding: 0;
    border-bottom: none;
  }
}

.menu {
  text-decoration: none;
  color: $color-black;

  :hover,
  :focus {
    border-bottom: $color-focus;
  }
}
