@import '../../styles/utils/mixins';

.text {
    margin-bottom: 24px;


    @include mq(tablet) {
        width: 535px;

        @include fonts($fs: normal, $fw: 500, $fsz: 16px, $lh: 36px, $ls: 0.02em);

    }

    &--bold {
        color: black;
        font-weight: 600;
    }


}