.navAll {
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #E2E3E5;
    height: 68px;
}

.navWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}