@import "../../shared/styles/utils/vars";
@import "../../shared/styles/utils/mixins";

.btnWrapperOne {
  @include flex(flex-end);
}

.btnWrapperBoth {
  @include flex(space-between);
}

.prev {
  @include flex();
  flex-direction: row-reverse;
  @include fonts(12px, 14px);
  color: $color-white;
  padding: 5px 16px 5px 15px;
  border: none;
  background-color: $color-focus;

  @include mq(tablet) {
    padding-right: 43px;
  }
}

.left {
  @include flex();
  fill: $color-white;
  @include mq(tablet) {
    margin-right: 12px;
  }
}

.right {
  @include flex();
  @include mq(tablet) {
    margin-left: 55px;
  }
}

.next {
  @extend .prev;
  flex-direction: row;
  color: $color-black;
  background-color: $color-white;

  @include mq(tablet) {
    padding: 5px 20px;
  }
}
