.modal-content {
    padding: 20px;
    background-color: white;
}

.wrapper-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.wrapper-btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}