@import "../../../shared/styles/utils/mixins";

.item {
  @include flex(center, flex-start);
  flex-direction: column;
  margin-bottom: 14px;

  @include mq(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.upper {
  @include flex();
  @include fonts(10px, 12px);
  @include mq(tablet) {
    margin-right: 6px;
  }
}

.percent {
  margin-left: 6px;
}

.name {
  @include fonts(8px, 9px);
}

.name,
.upper {
  @include mq(tablet) {
    @include fonts(16px, 19px);
  }
}
