@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.subtitle {
    color: black;
    @include fonts($fs: normal, $fw: 500, $fsz: 10px, $lh: 12px, $ls: 0.02em);

    text-align: center;
    margin-bottom: 32px;

    @include mq(tablet) {
        text-align: left;
        @include fonts($fs: normal, $fw: 500, $fsz: 14px, $lh: 16px, $ls: 0.02em);
    }

    &--left {
        text-align: left;
        margin-bottom: 0;
    }
}

.btn-wrapper {
    @include flex();
    margin-bottom: 32px;

    @include mq(tablet) {
        justify-content: start;
    }
}

.button {
    border: transparent;
    background-color: $color-btn-grey;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));

    color: black;
    @include fonts($fs: normal, $fw: 700, $fsz: 14px, $lh: 17px, $ls: 0.02em);

    @include flex();
    padding: 18px 37px;
}

.icon-google {
    width: 18px;
    height: 18px;

    margin-right: 10px;

}